{% extends 'base.html' %}

{% block body %}
    <!-- your index.html content here -->
    <div class="flex h-screen items-center justify-center bg-gray-400 border-8 border-black">
        <button class="border-2 border-purple-800 shadow-xl rounded-lg w-96 h-72 bg-orange-500"
        onclick="window.location.href='/themes';">
            Start My Adventure!
        </button>
    </div>
{% endblock %}

{% block footer %}
    <footer>
        <!-- your footer content here -->
    </footer>
{% endblock %}