{% extends 'base.html' %}

{% from "components/Cards.html" import CardHorizontilScroll %}

{% block body %}

<main id="input">
    <div class="flex flex-col bg-gray-400 m-auto p-auto">
        <h1 class="flex justify-center py-5 lg:px-20 md:px-10 px-5 lg:mx-40 md:mx-20 mx-5 font-bold text-6xl text-gray-800">Build My Story</h1>
        
        <div class="flex overflow-x-scroll pb-10 hide-scroll-bar">
            <div class="flex flex-nowrap lg:ml-40 md:ml-20 ml-10 ">
    
            {% for i in range(images|length) %} 
                {{ CardHorizontilScroll(image=images[i], card_title=titles[i]) }}
                
            {% endfor %}
    
        </div>
    </div>      
</main>

{% endblock %}